<faceplate id={{elementId}} class="{{if class (concat class ' ')}}ui-knob-faceplate{{_justify}}">
  <row class="upper{{_align}}">
    {{upper}}
  </row>

  <row class="middle{{_align}}">
    <span class="pre">{{pre}}</span>
    <span class="value">
      {{value}}
    </span>
    <span class="post">{{post}}</span>
  </row>

  <row class="lower{{_align}}">
    {{lower}}
  </row>
</faceplate>
{{yield}}
