<input-bar class="value-column" style="top:{{offset}}px; left: {{offset}}px; width: {{_width}}px; height: {{_width}}px; )">
  <div class="upper">
    {{upper}}
  </div>
  <div class="value-bar fill">
    <span class="pre-input" >{{pre}}</span>
    <span class='input-area'>
      {{text-input
        value=value
        skin='minimal'
        align='center'
        readOnly=readOnly
        onBlur=(mut value)
      }}
      {{#if blurValue}}
        <span class="blurring">          
          <span class="inbetween-marker">→</span>
          <span class="blur-value">{{_blurValue}}</span>
        </span>
      {{/if}}
    </span>
    <span class="post-input" >{{post}}</span>
  </div>
  <div class="lower">
    {{lower}}
  </div>
</input-bar>

{{yield}}
