<faceplate id={{elementId}} class="{{if class (concat class ' ')}}ui-knob-faceplate">
  <row class="upper">
    {{upper}}
  </row>

  <row class="middle">
    <span class="pre">{{pre}}</span>
    <span class="value">
      {{value}}
    </span>
    <span class="post">{{post}}</span>
  </row>

  <row class="lower">
    {{lower}}
  </row>
</faceplate>
{{yield}}
