{{#demo-css}}
<div class="container">
  <h1 id="title"><a href="https://github.com/lifegadget/ui-knob">ui-knob</a></h1>
  <h2>A touch friendly knob to use in your ember apps</h2>

  <h3>Background</h3>
  Anthony Terrien built a very nice and popular jQuery widget called <a href="http://anthonyterrien.com/knob"><prop>jQuery-Knob</prop></a> which this addon wraps around making it easy for Ember developers to join in on the fun.

  <h3>Basic Usage</h3>
  <row>
    <widget>
      {{ui-knob
        value=value
        min=min
        max=max
        step=step
        width=width
        height=height
        thickness=thickness
        angleOffset=angleOffset
        angleArc=angleArc
        cursor=cursor
        stopper=stopper
        displayInput=displayInput
        displayPrevious=displayPrevious
        lineCap=lineCap
        readOnly=readOnly
        fgColor=fgColor
        bgColor=bgColor
        backColor=backColor
        plateColor=plateColor
        lower=lower
        upper=upper
        onBlur=(mut value)
      }}
    </widget>
    <code>
      {{display-component
        componentName='ui-knob'
        value=value
        min=min
        max=max
        step=step
        width=width
        height=height
        thickness=thickness
        angleOffset=angleOffset
        angleArc=angleArc
        cursor=cursor
        stopper=stopper
        displayInput=displayInput
        displayPrevious=displayPrevious
        lineCap=lineCap
        readOnly=readOnly
        fgColor=fgColor
        bgColor=bgColor
        backColor=backColor
        plateColor=plateColor
        lower=lower
        upper=upper
        onBlur=(mut value)
     }}
    </code>
    <description>
      Basic usage includes setting properties such as:
      <br/>
      <controls>
        <control>
          <span class='name'>width:</span>
          <span>
            {{text-input value=width step=10 skin='flat' size='small' defaultValue=0 onBlur=(mut width)}}
          </span>
          <span class='name'>height:</span>
          <span>
            {{text-input value=height step=10 skin='flat' size='small' defaultValue=100 onBlur=(mut height)}}
          </span>
          <span class='name'>step:</span>
          <span>
            {{text-input value=step skin='flat' size='small' defaultValue=100 onChange=(mut step)}}
          </span>
        </control>
        <control>
          <span class='name'>min:</span>
          <span>
            {{text-input value=min step=10 skin='flat' size='small' defaultValue=0 onChange=(mut min)}}
          </span>
          <span class='name'>max:</span>
          <span>
            {{text-input value=max step=10 skin='flat' size='small' defaultValue=100 onChange=(mut max)}}
          </span>
          <span class='name'>step:</span>
          <span>
            {{text-input value=step skin='flat' size='small' defaultValue=100 onChange=(mut step)}}
          </span>
        </control>
      <control>
        <span class='name'>thickness:</span>
        <span>
          {{text-input value=thickness skin='flat' size='small' min=0 max=1 step=0.1 onBlur=(mut thickness)}} &nbsp;
        </span>
        <span class='name'>outline:</span>
        <span>
          {{text-input value=outline skin='flat' size='small' min=0 max=1 step=0.1 onBlur=(mut outline)}} &nbsp;
        </span>
      </control>
      <control>
        <span class='name'>angleOffset:</span>
        <span>
          {{text-input value=angleOffset skin='flat' size='small' onBlur=(mut angleOffset)}}
        </span>
        <span class='name'>angleArc:</span>
        <span>
          {{text-input value=angleArc skin='flat' size='small' onBlur=(mut angleArc)}}
        </span>
      </control>
      <control>
        <span class='name'>stopper:</span>
        <span>
          {{ui-toggle-button
            size='small'
            outline=true
            on='true'
            false='false'
            value=stopper
            onToggle=(mut stopper)
          }}
        </span>
        <span class='name'>display input:</span>
        <span>
          {{ui-toggle-button
            size='small'
            outline=true
            on='show'
            false='hide'
            value=displayInput
            onToggle=(mut displayInput)
          }}
        </span>
        <span class='name'>display previous:</span>
        <span>
          {{ui-toggle-button
            size='small'
            outline=true
            on='show'
            false='hide'
            value=displayPrevious
            onToggle=(mut displayPrevious)
          }}
        </span>
      </control>
      <control>
        <span class='name'>line cap:</span>
        <span>
          {{ui-buttons
            buttons='butt,round'
            cardinality='1:1'
            value=lineCap
            onChange=(mut lineCap)
          }}
        </span>
        <span class='name'>read only:</span>
        <span>
          {{ui-toggle-button
            on='true'
            false='false'
            value=readOnly
            onToggle=(mut readOnly)
          }}
        </span>
      </control>
      <control>
        <span class='name'>cursor</span>
        <span>
          {{ui-buttons
            buttons='off:::false,1,3,5,10,25'
            cardinality='1:1'
            value=cursor
            onChange=(mut cursor)
          }}
        </span>
      </control>
      <control>
        <span class='name'>fgColor:</span>
        <span>
          {{text-input value=fgColor skin='flat' size='small' defaultValue='#66CC66' onBlur=(mut fgColor)}}
        </span>
        <span class='name'>bgColor:</span>
        <span>
          {{text-input value=bgColor skin='flat' size='small' defaultValue='#EFEEEE' onBlur=(mut bgColor)}}
        </span>
      </control>
      <control>
        <span class='name'>backColor:</span>
        <span>
          {{text-input value=backColor skin='flat' size='small' defaultValue='#66CC66' onBlur=(mut backColor)}}
        </span>
        <span class='name'>plateColor:</span>
        <span>
          {{text-input value=plateColor skin='flat' size='small' defaultValue='#fff' onBlur=(mut plateColor)}}
        </span>
      </control>
      <control>
        <span class='name'>pre:</span>
        <span>
          {{text-input value=pre skin='flat' size='small' defaultValue='things' onBlur=(mut pre)}}
        </span>
        <span class='name'>post:</span>
        <span>
          {{text-input value=post skin='flat' size='small' defaultValue='' onBlur=(mut post)}}
        </span>
      </control>
      <control>
        <span class='name'>lower:</span>
        <span>
          {{text-input value=lower skin='flat' size='small' defaultValue='things' onBlur=(mut lower)}}
        </span>
        <span class='name'>upper:</span>
        <span>
          {{text-input value=upper skin='flat' size='small' defaultValue='' onBlur=(mut upper)}}
        </span>
      </control>
      </controls>

    </description>
  </row>

</div>
{{/demo-css}}
