
{{#demo-css}}
<div class="container">
  <h1 id="title"><a href="https://github.com/lifegadget/ui-knob">ui-knob</a></h1>
  <h2>A touch friendly knob to use in your ember apps</h2>

  <h3>Background</h3>
  Anthony Terrien built a very nice and popular jQuery widget called <a href="http://anthonyterrien.com/knob"><prop>jQuery-Knob</prop></a> which this addon wraps around making it easy for Ember developers to join in on the fun.

  <h3>Basic Usage</h3>
  <row>
    <div class='col-xs-5 col-md-3'>
      {{ui-knob
        value=value
        min=min
        max=max
        step=step
        width=width
        height=height
        thickness=thickness
        angleOffset=angleOffset
        angleArc=angleArc
        cursor=cursor
        stopper=stopper
        displayInput=displayInput
        displayPrevious=displayPrevious
        lineCap=lineCap
        readOnly=readOnly
        fgColor=fgColor
        bgColor=bgColor
        backColor=backColor
        plateColor=plateColor
        lower=lower
        upper=upper
        pre=pre
        post=post
        upDown=upDown
        leftRight=leftRight
        onChange=(mut value)
        onError=(action 'showError')
      }}
    </div>
    <div class="col-xs-7 col-md-3 col-lg-2">
      <code>
        {{display-component
          componentName='ui-knob'
          value=value
          min=min
          max=max
          step=step
          width=width
          height=height
          thickness=thickness
          angleOffset=angleOffset
          angleArc=angleArc
          cursor=cursor
          stopper=stopper
          displayInput=displayInput
          displayPrevious=displayPrevious
          lineCap=lineCap
          readOnly=readOnly
          fgColor=fgColor
          bgColor=bgColor
          backColor=backColor
          plateColor=plateColor
          lower=lower
          upper=upper
          pre=pre
          post=post
          upDown=upDown
          leftRight=leftRight
          onChange="(mut value)"
          onError="(action 'showError')"
       }}
      </code>
    </div>
    <div class='col-xs-12 col-md-6 col-lg-7'>
      <controls>
        <control>
          <span class='name'>width:</span>
          <span>
            {{text-input value=width step=10 skin='flat' size='small' defaultValue=0 onBlur=(mut width)}}
          </span>
          <span class='name'>height:</span>
          <span>
            {{text-input value=height step=10 skin='flat' size='small' defaultValue=100 onBlur=(mut height)}}
          </span>
        </control>
        <control>
          <span class='name'>min:</span>
          <span>
            {{text-input value=min step=10 skin='flat' size='small' defaultValue=0 onChange=(mut min)}}
          </span>
          <span class='name'>max:</span>
          <span>
            {{text-input value=max step=10 skin='flat' size='small' defaultValue=100 onChange=(mut max)}}
          </span>
          <span class='name'>step:</span>
          <span>
            {{text-input value=step skin='flat' size='small' defaultValue=100 onChange=(mut step)}}
          </span>
        </control>
      <control>
        <span class='name'>thickness:</span>
        <span>
          {{text-input value=thickness skin='flat' size='small' min=0 max=1 step=0.1 onBlur=(mut thickness)}} &nbsp;
        </span>
        <span class='name'>outline:</span>
        <span>
          {{text-input value=outline skin='flat' size='small' min=0 max=1 step=0.1 onBlur=(mut outline)}} &nbsp;
        </span>
      </control>
      <control>
        <span class='name'>angleOffset:</span>
        <span>
          {{text-input value=angleOffset skin='flat' size='small' onBlur=(mut angleOffset)}}
        </span>
        <span class='name'>angleArc:</span>
        <span>
          {{text-input value=angleArc skin='flat' size='small' onBlur=(mut angleArc)}}
        </span>
      </control>
      <control>
        <span class='name'>stopper:</span>
        <span>
          {{ui-toggle-button
            size='small'
            outline=true
            on='true'
            false='false'
            value=stopper
            onToggle=(mut stopper)
          }}
        </span>
        <span class='name'>display input:</span>
        <span>
          {{ui-toggle-button
            size='small'
            outline=true
            on='show'
            false='hide'
            value=displayInput
            onToggle=(mut displayInput)
          }}
        </span>
        <span class='name'>display previous:</span>
        <span>
          {{ui-toggle-button
            size='small'
            outline=true
            on='show'
            false='hide'
            value=displayPrevious
            onToggle=(mut displayPrevious)
          }}
        </span>
      </control>
      <control>
        <span class='name'>line cap:</span>
        <span>
          {{ui-buttons
            buttons='butt,round'
            cardinality='1:1'
            value=lineCap
            onChange=(mut lineCap)
          }}
        </span>
        <span class='name'>read only:</span>
        <span>
          {{ui-toggle-button
            on='true'
            false='false'
            outline=true
            value=readOnly
            onToggle=(mut readOnly)
          }}
        </span>
      </control>
      <control>
        <span class='name'>cursor</span>
        <span>
          {{ui-buttons
            buttons='off:::false,1,3,5,10,25'
            cardinality='1:1'
            value=cursor
            onChange=(mut cursor)
          }}
        </span>
      </control>
      <control>
        <span class='name'>leftRight <br> (incrementer)</span>
        <span>
          {{ui-buttons
            buttons='off:::0,1,5'
            cardinality='1:1'
            value=leftRight
            onChange=(mut leftRight)
          }}
        </span>
      </control>
      <control>
        <span class='name'>upDown <br>(incrementer)</span>
        <span>
          {{ui-buttons
            buttons='off:::0,15,30'
            cardinality='1:1'
            value=upDown
            onChange=(mut upDown)
          }}
        </span>
      </control>
      <control>
        <span class='name'>fgColor:</span>
        <span>
          {{text-input value=fgColor skin='flat' size='small' defaultValue='#66CC66' onBlur=(mut fgColor)}}
        </span>
        <span class='name'>bgColor:</span>
        <span>
          {{text-input value=bgColor skin='flat' size='small' defaultValue='#EFEEEE' onBlur=(mut bgColor)}}
        </span>
      </control>
      <control>
        <span class='name'>backColor:</span>
        <span>
          {{text-input value=backColor skin='flat' size='small' defaultValue='#66CC66' onBlur=(mut backColor)}}
        </span>
        <span class='name'>plateColor:</span>
        <span>
          {{text-input value=plateColor skin='flat' size='small' defaultValue='#fff' onBlur=(mut plateColor)}}
        </span>
      </control>
      <control>
        <span class='name'>pre:</span>
        <span>
          {{text-input value=pre skin='flat' size='small' defaultValue='things' onBlur=(mut pre)}}
        </span>
        <span class='name'>post:</span>
        <span>
          {{text-input value=post skin='flat' size='small' onBlur=(mut post)}}
        </span>
      </control>
      <control>
        <span class='name'>lower:</span>
        <span>
          {{text-input value=lower skin='flat' size='small' defaultValue='things' onBlur=(mut lower)}}
        </span>
        <span class='name'>upper:</span>
        <span>
          {{text-input value=upper skin='flat' size='small' onBlur=(mut upper)}}
        </span>
      </control>
      </controls>

    </div>
  </row>

  <p>
    <br>
  </p>

  <h3>Common Patterns</h3>
  <div class='row'>
    <div class="col-xs-4">
      <h4>Dual Semi-Knobs</h4>
      <br>
      {{ui-knob
        class='top-knob'
        width=300
        height=300
        value=topValue
        angleOffset=272
        angleArc=176
        onChange=(mut topValue)
      }}

      {{ui-knob
        class='bottom-knob'
        width=300
        height=300
        value=bottomValue
        angleOffset=92
        angleArc=176
        rotation="anticlockwise"
        onChange=(mut bottomValue)
      }}
  </div>
  <div class="col-xs-4">
    <h4>Outer and Inner Knobs</h4>
    <br>

    {{ui-knob
      class='top-knob'
      width=300
      height=300
      thickness=0.27
      value=outerValue
      angleOffset=5
      angleArc=350
      displayInput=false
      backColor='black'
      plateColor='black'
      onChange=(mut outerValue)
    }}

    {{ui-knob
      class='inner-knob'
      width=190
      height=190
      thickness=0.5
      value=innerValue
      angleOffset=5
      angleArc=350
      fgColor='#3e824d'
      backColor='black'
      plateColor='black'
      displayInput=false
      onChange=(mut innerValue)
    }}

    </div>
    <div class="col-xs-4">
      example 3

    </div>

  </div>

</div>
{{/demo-css}}
