{{#demo-css}}
<div class="container">
  <h1 id="title">ui-knob</h1>
  <h2>A touch friendly knob to use in your ember apps</h2>

  <h3>Background</h3>
  Anthony Terrien built a very nice and popular jQuery widget called <a href="http://anthonyterrien.com/knob"><prop>jQuery-Knob</prop></a> which this addon wraps around making it easy for Ember developers to join in on the fun.

  <h3>Basic Usage</h3>
  <row>
    <widget>
      {{ui-knob
        value=value
        min=min
        max=max
        step=step
        width=width
        height=height
        thickness=thickness
        angleOffset=angleOffset
        angleArc=angleArc
        cursor=cursor
        displayInput=displayInput
        displayPrevious=displayPrevious
        lineCap=lineCap
      }}
    </widget>
    <code>
      {{display-component
        componentName='ui-knob'
        value=value
        min=min
        max=max
        step=step
        width=width
        height=height
        thickness=thickness
        angleOffset=angleOffset
        angleArc=angleArc
        cursor=cursor
        displayInput=displayInput
        displayPrevious=displayPrevious
        lineCap=lineCap
      }}
    </code>
    <description>
      Basic usage includes setting properties such as:
      <br/>
      <controls>
      <control>
        <span class='name'>min:</span>
        <span>
          {{number-input value=min skin='flat' size='small' defaultValue=0}}
        </span>
        <span class='name'>max:</span>
        <span>
          {{number-input value=max skin='flat' size='small' defaultValue=100}}
        </span>
        <span class='name'>step:</span>
        <span>
          {{number-input value=step skin='flat' size='small' defaultValue=100}}
        </span>
      </control>
      <control>
        <span class='name'>width:</span>
        <span>
          {{number-input value=width skin='flat' size='small' }}
        </span>
        <span class='name'>height:</span>
        <span>
          {{number-input value=height skin='flat' size='small' }}
        </span>
        <span class='name'>thickness:</span>
        <span>
          {{number-input value=thickness skin='flat' size='small' min=0 max=1 step=0.1}} &nbsp;
        </span>
      </control>
      <control>
        <span class='name'>angleOffset:</span>
        <span>
          {{number-input value=angleOffset skin='flat' size='small' }}
        </span>
        <span class='name'>angleArc:</span>
        <span>
          {{number-input value=angleArc skin='flat' size='small' }}
        </span>
      </control>
      <control>
        <span class='name'>stopper:</span>
        <span>
          {{ui-toggle-button on='true' false='false' value=stopper}}
        </span>
        <span class='name'>display input:</span>
        <span>
          {{ui-toggle-button on='show' false='hide' value=displayInput}}
        </span>
        <span class='name'>display previous:</span>
        <span>
          {{ui-toggle-button on='show' false='hide' value=displayPrevious}}
        </span>
      </control>
      <control>
        <span class='name'>line cap:</span>
        <span>
          {{radio-buttons value=lineCap buttons='butt,round'}}
        </span>

      </control>
      <control>
        <span class='name'>cursor</span>
        <span>
          {{radio-buttons buttons='off:::false,1,3,5,10,25' value=cursor}}
        </span>
      </control>
      </controls>

    </description>
  </row>

</div>
{{/demo-css}}